.abc {
  text-transform: capitalize;
  background-color: darkgreen;
  text-transform: uppercase;
  border: 10px solid;
  background-color: darkred;
  letter-spacing: 5px;
  border-radius: 10px;
  text-shadow: 2px 3px 4px #adff2f;
  font-family:cursive
  borderd






}
